html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(219, 211, 67) rgb(15, 32, 118);
}

body{
    margin: 0;
    padding: 0;
    background-color:  white;
    scroll-behavior: smooth;
}

#body {
    text-align: center;
    padding: 8px;
    margin: 8px auto;
}

#available-products {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 12px 50px;
    box-shadow: 20px 22px 30px 1px #c9d2f1;
    background-color: #c3f3f1;

}

.available-products {
    display: block;
    margin: 28px;
}

#coming-soon-products {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #c3f3f1;
    margin: 12px 50px;
    box-shadow: 20px 22px 30px 1px #c9d2f1;
}

.coming-soon-products {
    display: block;
    margin: 28px;
}

.coming-soon-pocket-notes {
    color: #a98b39;
    font-family: 'Tahoma';
    font-weight: 700;
}

h4{
    color: #061547;
    font-family:Cambria ;
    font-size: 20px;
}

.ourpics {
    display: block;
    margin: 12px auto;
    text-align: center;
    box-shadow: 15px 16px 30px 3px #c9d2f1;
}

#ourpics{
    margin: 12px 8px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #d1e3ff;
    border-radius: 15px;
}

#header {
    overflow: hidden;
    position: relative;
    background: none;
    background-color:  #add8e6;
    padding-top: 10px;
    margin-bottom: -10px;
}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
#header #nav-menu {
    display: none;
    padding: 4px;
    margin: -10px 4px 4px 4px;
    background-color: #add8e6;
}
  
  /* Style navigation menu links */
#header a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
  /* Style the hamburger menu */
#header a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
  /* Add a grey background color on mouse-over */
#header .nav-links:hover {
    color: #000080;
    background-color: #9bcddd;
}
  
  /* Style the active link (or home/logo) */
#logo-no-bg {
    background-color: #add8e6;
    color: white;
    margin-top: -10px;
    /* margin: 0; */
}

#hero-section{
    /* text-align: center; */
    display: flex;
    margin-top: 25px;
    padding: 30px;
    padding-left: 100px;
    background-repeat: no-repeat;
}

#hero-section-text {
    display: block;
    padding-bottom: 10px;
}

#hero-section-img {
    padding-right: 5%;
    padding-bottom: 10px;
}

h1{
    color: #00008b;
    padding-bottom: 10px;
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2{
    color: #05052a;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: #4682b4;
    padding-bottom: 10px;
    font-size: 25px;
}

.form-group {
    margin: 16px 0;
}

#application-form label {
    font-weight: 600;
}

#application-form input, select, textarea {
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-group textarea {
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

.body-h3{
    color: #db3615;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: #7b2525;
    font-size: 16px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group input[type="submit"]{
    background-color: #efdb59;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#contact{
    margin-left: 10%;
}

#mail{
    text-decoration: none;
    color: #7b2525;
}

#mail:hover{
    color: #a98b39;
}

#footer{
    padding: 50px;
    background-color: #f3f2f2;
    color: #898989;
    text-align: center;
}